* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}


/* NAVBAR */

.navbar {
    height: 70px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #151515;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #aaa;
}

.login-btn,
.start-btn {
    border: none;
    cursor: pointer;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 15px;
}


/* HERO */

.hero {
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 40px 20px;
}

.hero-content {
    max-width: 800px;
}

.small-title {
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: clamp(45px, 8vw, 90px);
    line-height: 1;
    margin-bottom: 25px;
}

.description {
    color: #aaa;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.start-btn {
    padding: 15px 30px;
}


/* SECTIONS */

.section {
    padding: 100px 7%;
    text-align: center;
}

.section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.section p {
    color: #aaa;
}


/* CARDS */

.cards {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: #1a1a1a;
    padding: 40px 25px;
    border-radius: 15px;

    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card h3 {
    margin-bottom: 15px;
}


/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    background: #151515;
}


/* MOBILE */

@media (max-width: 700px) {

    .navbar {
        padding: 0 20px;
    }

    nav {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 50px;
    }
}
.youtube-btn {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 8px;

    background: #ff0000;
    color: white;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.youtube-btn:hover {
    transform: scale(1.05);
}
.logo img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    display: block;
}